.wrapper
    max-width: 75em
    margin: 0 auto
    position: relative

.d-none
    display: none

.d-flex
    display: flex
    align-items: center

.main
    margin-top: 48px

.section
    padding: 4em .5em
    &__title
        text-transform: uppercase
        color: _c-header
        text-align: center