html
    box-sizing: border-box

*,
*:after,
*:before
    box-sizing: inherit
    margin: 0
    padding: 0

body
    min-height: calc( 100vh - 48px )
    overflow-x: hidden
    font-family: 'Oswald', sans-serif


figure,
h1,
h2,mar
h3,
p
    margin: 0
    padding: 0
a
    text-decoration: none
img
    display: block
    max-width: 100%
    height: auto