.sacos
    max-width: 75em

    &__group
        margin-top: 2em
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center
    &__item
        max-width: 19em
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 5em
        padding: 0 2em
    &__title
        background-color: _c-header
        width: 100%
        text-align: center
        color: _c-white
        text-transform: uppercase
        font-weight: 300
        padding: .7em 0
        border-radius: 0 0 10px 10px

@media screen and (min-width 40em)
    .sacos__item
        padding-bottom: 3em