@import '_normalize'
@import '_fonts'
@import '_flexslider'
@import '_reset_custon'
@import 'component/_variables'
@import 'component/_navbar'
@import 'component/_slogan'
@import 'component/_slider'

.wrapper
    max-width: 75em
    margin: 0 auto
    position: relative

.d-none
    display: none

.d-flex
    display: flex
    align-items: center

.main
    margin-top: 48px