.datos-cordero
    margin-top: 1em
    font-size: 1.25rem
    &__subtitle
        text-transform: uppercase
        color: _c-header
        span
            margin-right: .4em
    &__text
        color: _c-gray-font
        font-family: 'Roboto', sans-serif
        margin-left: 1.4em
        margin-bottom: 1em
        font-size: 1rem

    &--about
        margin-left: 0


@media screen and (min-width 40em)

    .datos-cordero
        margin-top: 1em
        font-size: 1.25rem
        &__subtitle
            text-transform: uppercase
            color: _c-header
            span
                margin-right: .4em
        &__text
            color: _c-gray-font
            font-family: 'Roboto', sans-serif
            margin-left: 1.4em
            margin-bottom: 1em

        &--about
            margin-left: 1em