.footer
    display: none

@media screen and (min-width 40em)
    .footer
        display: block
        background-color: _c-header
        &__container
            display: flex
            align-items: center
        &__logo
            background-color: _c-white
            padding: .5em 1em
            max-width: 200px
        &__derechos
            margin-left: auto
        &__text
            color: _c-white
            font-weight: 300
            padding: 0 1em
