.form-contacto
    width: 18em
    margin:0 auto
    .form
        margin-top: 1em
        display: flex
        flex-direction: column
        &__label
            color: _c-white
            margin-bottom: .3em
            font-weight: 300
        &__input,
        &__txtarea
            margin-bottom: 1.5em
            font-family: 'Roboto', sans-serif
            font-size: 1em
            line-height: 1.5em
            border: 1px solid _c-gray-charset
            padding: .5em 0 .5em 1em
            border-radius: 5px
        &__txtarea
            height: 6em
        &__button
            background-color: _c-orange
            border: 0
            color: _c-white
            text-transform: uppercase
            text-shadow: 0px 2px 2px rgba(0,0,0,0.5)
            padding: .5em
            border-radius: 5px
            max-width: 7em
            box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.5)
        .c_error
            color: _c-orange
            font-size: 1em
            padding-bottom: .5em
        #c_information
            color: _c-white
            text-shadow: 0px 2px 2px rgba(0,0,0,0.5)
            font-size: 1em
            margin-top: 2em
            text-align: center
            letter-spacing: 1px
            font-weight: 300


