.slogan
    min-height: calc( 100vh - 48px)
    background-image: url("../../img/bg-001.jpg")
    background-size: cover
    background-position: center, center
    background-repeat: no-repeat

.sentence
    font-weight: 400
    font-size: 7.5vw
    max-width: 9em
    text-align: center
    color: _c-white
    padding-top: 10vh
    margin-right: auto
    margin-left: auto
    &__highligted
        color: _c-orange
        font-weight: 700
@media screen and (min-width 40em)
    .slogan
        display: none