.slogan
    min-height: calc( 100vh - 48px)
    background-image: url("../img/bg-001-c.jpg")
    background-size: cover
    background-position: center, center
    background-repeat: no-repeat

.sentence
    font-weight: 400
    font-size: 7.5vw
    max-width: 9em
    text-align: center
    color: _c-white
    padding-top: 7vh
    margin-right: auto
    margin-left: auto
    line-height: 1em
    &__highligted
        color: _c-header
        font-weight: 700
        text-shadow: 0px 2px 2px rgba(255,255,255,0.5)
@media screen and (min-width 40em)
    .slogan
        display: none